<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="./bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: #B5DB92">
<div>
    <header class="h-100 d-flex flex-row" style="background-color: #FFCB7C">
        <div class="w-100 d-flex flex-row justify-content-between" style="margin-top: 10px; margin-bottom: 10px">
            <div class="w-25">
                <p style="margin-left: 10px">가자 EAT</p>
            </div>
            <form th:action="|/food/search|" method="post">
                <input class="w-50" type="text" name="food" placeholder="음식 검색"/>
                <input class="btn" type="submit" style="margin-right: 20px ;background-color: #FFFFFF" value="검색">
            </form>
            <div class="w-25 d-flex justify-content-end" style="margin-right: 50px">
                <button class="btn" th:onclick="|location.href='/login'|" style="margin-right: 20px ;background-color: #F2D3B7">Login</button>
                <button class="btn" th:onclick="|location.href='/signup'|" style="background-color: #FC9700">Sign up</button>
            </div>
        </div>
    </header>
    <section>
        <div class="w-100 h-100 d-flex justify-content-center"
             style="width: 1920px; height: 1080px; margin-top: 150px;">
            <div class="d-flex row justify-content-center align-items-center"
                 style="width: 700px; background-color: #FC9700; border-radius: 20px">

                    <form class="w-75 d-flex row justify-content-center" th:action="food" th:method="post">
                        <h1 class="justify-content-center row" style="margin-top: 30px">음식 등록</h1>
                        <input class="form-control row" type="text" placeholder="음식 이름" style="margin-top: 10px"
                               th:name="name">

                        <textarea class="form-control row" type="text" placeholder="음식 설명"
                                  style="height: 300px; margin-top: 10px" th:name="description"></textarea>
                        <input class="btn btn-light row" type="submit"
                               style="margin-top: 10px; margin-bottom: 30px;background-color: #F2D3B7; border-color: #F2D3B7"
                               value="등록">
                    </form>
            </div>
        </div>
    </section>
</div>
</body>
</html>
